body {
	font-family: 'Balsamiq Sans', cursive;
}
header {
	background-color:#b8b8b8; 
}

#header-nav {
	background-color: #b8b8b8;
	border: 1px solid black;
}
.navbar-brand {
	height: 100px;
}

.navbar-brand a {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.visible-xs {
	color: black;
	font-size: 1.5em;

}

.collapsable-nav {
	 height: 1px;
	background-color: black;
	border:none;
}


hr {
	height: 1px;
	background-color: black;
	border:none;
}

h1 {
	color: black;
}


#collapsable-nav span {
	text-align: center;

}

/*MAIN CONTENT*/

.main-text {
	background-color: #b8b8b8;
	width: 100%;
}

.main-text p {
	padding-left: 20px;
	padding-right: 20px;
}

.category-title {
	text-align: center;
	font-size: 1.5em;
	margin-top: 1vh;
}

